*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: grey;
}

.App{
    text-align: center;
}

.flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form{
    margin-bottom: 20px;
}

.weather-condition{
    margin-bottom: 20px;
}

.temperature-container{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}